server {
    listen 80;

    server_name  _;

    proxy_http_version 1.1;
    proxy_read_timeout 600s;
    location = / {
        return 301 /iris/;
    }

    location / {
        proxy_pass http://127.0.0.1:{{mopidy.http_port}};
        proxy_set_header Host $host;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}

# vi: filetype=nginx ts=4 sw=4
