# python requirements
#   native requirements (e.g. libspotify-dev) must be installed separately
vext
vext.gi
Mopidy>=3.1.0
Mopidy-Iris>=3.59
Mopidy-Local
Mopidy-MPD
Mopidy-MQTT-NG
Mopidy-Spotify
Mopidy-TuneIn
