media_player:
  - platform: mpd
    {{! use slugified name if available}}
    name: {{#name_}}{{name_}}{{/name_}}{{^name_}}{{name}}{{/name_}}_mpd
    {{! use localhost for dev, 'media' otherwise}}
    host: {{#dev}}localhost{{/dev}}{{^dev}}media{{/dev}}
    port: {{mopidy.mpd_port}}
{{#kodi}}

  - platform: kodi
    name: {{#name_}}{{name_}}{{/name_}}{{^name_}}{{name}}{{/name_}}_kodi
    host: {{name}}.home.whalebarn.com
    port: 8080
{{/kodi}}
