[Unit]
Description=Multizone Audio Controller
After=network.target

[Service]
ExecStart={{python}} {{config_root}}/controller/multizone-control.py
User=mopidy
Restart=on-failure

[Install]
WantedBy=multi-user.target
