---
loglevel: info
server: tcp://media:1705
streams:
  {{#hosts}}
  {{Name}}:
    clients:
      - {{name}}
    volume:
      {{name}}: 50
  {{/hosts}}

  {{#party-zones}}
  {{Name}}:
    clients:
      {{#clients}}
      - {{.}}
      {{/clients}}
    volume:
      {{#clients}}
      {{.}}: 50
      {{/clients}}
  {{/party-zones}}
