# Multi-instance snapclient service file
[Unit]
Description=Snapcast client
After=sound.target
Wants=avahi-daemon.service

[Service]
EnvironmentFile={{path.config_root}}/snapclient.%i.conf
Type=simple
ExecStart=/usr/bin/snapclient --logsink=system $SNAPCLIENT_OPTS

[Install]
WantedBy=multi-user.target
