[Unit]
Description=Multizone Controller
After=network.target

[Service]
ExecStart={{python_venv}} {{config_root}}/etc/multizone-audio/controller/multizone-control.py
#User=mopidy
#Group=mopidy
Restart=on-failure

[Install]
WantedBy=multi-user.target
